@mixin h3 {
  display: block;
  position: relative;
  font-family: $font-family-primary;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: $color-text;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    border-bottom: 5px solid $color-pink;
  }
}