$color-pink: #f69679;
$color-text: #333;
$color-back: #250000;
$color-white: #fff;

$rgba-pink: rgba(246, 150, 121, .8);
$rgba-blue: rgba(0, 0, 100, .6);

$font-family-primary: "Open Sans", sans-serif;
$font-family-secondary: Roboto, sans-serif;